In [1]:
import csv

file_name = r"C:\Users\User\synthetic_data.csv"

def read_phone_records():
    try:
        with open(file_name, mode='r') as file:
            reader = csv.DictReader(file)
            return list(reader)
    except FileNotFoundError:
        return []

def write_phone_records(records):
    fieldnames = ['Name', 'email', 'phone_number1', 'phone_number2']  # Ensure these fieldnames match the keys in your records
    with open(file_name, mode='w', newline='') as file:
        writer = csv.DictWriter(file, fieldnames=fieldnames)
        writer.writeheader()
        writer.writerows(records)

def select_all():
    return read_phone_records()

def select_by_name(name):
    records = read_phone_records()
    return next((record for record in records if record['Name'].lower() == name.lower()), None)

def insert_record(record):
    records = read_phone_records()
    records.append(record)
    write_phone_records(records)

def delete_by_name(name):
    records = read_phone_records()
    remaining_records = [record for record in records if record.get('Name', '').lower() != name.lower()]
    write_phone_records(remaining_records)
    return remaining_records

def parse_select(query):
    query_parts = query.split('WHERE')
    if len(query_parts) == 2 and query_parts[0].startswith('SELECT * FROM phone_records'):
        condition = query_parts[1].strip()

        # Extracting the field and value from the condition
        split_condition = condition.split('=')
        if len(split_condition) == 2:
            field = split_condition[0].strip()
            value = "=".join(split_condition[1:]).strip().strip("'")
            if field.lower() == 'name':
                selected_record = select_by_name(value)
                return selected_record if selected_record else "No records found"
    return "Invalid query or condition"

def parse_insert(query):
    query_parts = query.split('VALUES')
    if len(query_parts) == 2 and 'INSERT INTO phone_records' in query_parts[0]:
        values_part = query_parts[1].strip().strip('();')
        values = [value.strip().strip("'") for value in values_part.split(',')]
        if len(values) == 4:
            new_record = {
                'Name': values[0],
                'email': values[1],
                'phone_number1': values[2],
                'phone_number2': values[3]
            }
            insert_record(new_record)
            # Fetch and show all records after insertion
            all_records = read_phone_records()
            for record in all_records:
                print(record)
            return "Insertion successful"
    return []

def parse_delete(query):
    query_parts = query.split('WHERE')
    if len(query_parts) == 2 and query_parts[0].startswith('DELETE FROM phone_records'):
        condition = query_parts[1].strip()
        print("Condition for DELETE:", condition)  # Show the DELETE condition
        
        # Extracting the field and value from the condition
        split_condition = condition.split('=')
        if len(split_condition) == 2:
            field = split_condition[0].strip()
            value = split_condition[1].strip().strip("'")
            if field.lower() == 'name':
                remaining_records = delete_by_name(value)
                for record in remaining_records:
                    print(record)
                return remaining_records
    return []

def execute_query(query):
    query_type = query.split(' ')[0]
    if query_type == 'SELECT':
        if query.strip() == "SELECT * FROM phone_records;":  # Check for specific query
            return select_all()  # Return all records
        else:
            return parse_select(query)  # Process other SELECT queries
    elif query_type == 'INSERT':
        parse_insert(query)
        return "Insertion successful"
    elif query_type == 'DELETE':
        parse_delete(query)
        return "Deletion successful"
    else:
        return "Unsupported query type"

In [6]:
# Query to retrieve all records from the 'phone_records' table
query = "SELECT * FROM phone_records;"
result = execute_query(query)
print(result)

[{'Name': 'Robert Webb', 'email': 'smithstephen@example.net', 'phone_number1': '0121047644', 'phone_number2': '4906661210'}, {'Name': 'Sydney Rivera', 'email': 'rodriguezkevin@example.com', 'phone_number1': '(624)102-3735x0130', 'phone_number2': '001-963-224-2160x254'}, {'Name': 'Collin Little', 'email': 'glovertheresa@example.com', 'phone_number1': '613.272.2377x762', 'phone_number2': '001-627-509-3536x22421'}, {'Name': 'Daniel Curtis', 'email': 'sfitzpatrick@example.org', 'phone_number1': '001-175-677-4149x47910', 'phone_number2': '4320495660'}, {'Name': 'Nancy Bartlett', 'email': 'fherrera@example.net', 'phone_number1': '2787624431', 'phone_number2': '+1-314-006-6617x5602'}, {'Name': 'Jeffrey Bates', 'email': 'joneschristine@example.net', 'phone_number1': '(311)385-3178x790', 'phone_number2': '670-532-9667'}, {'Name': 'Heather Jordan', 'email': 'vazquezchristopher@example.org', 'phone_number1': '6297202797', 'phone_number2': '(099)183-2099'}, {'Name': 'Emily Clark', 'email': 'sandraross@example.net', 'phone_number1': '+1-148-478-6015x89497', 'phone_number2': '371.187.8464x3801'}, {'Name': 'Audrey Wagner', 'email': 'mullinsjeanette@example.org', 'phone_number1': '1367775548', 'phone_number2': '001-768-733-6567x29363'}, {'Name': 'Kevin Page', 'email': 'wyatt92@example.net', 'phone_number1': '001-557-233-8134x31612', 'phone_number2': '(828)874-9903x760'}, {'Name': 'Erika Green', 'email': 'leealyssa@example.net', 'phone_number1': '001-846-031-4476x915', 'phone_number2': '(019)873-8284x61995'}, {'Name': 'Darlene Matthews', 'email': 'kevin30@example.com', 'phone_number1': '(473)396-1919x14906', 'phone_number2': '241.643.3875x06716'}, {'Name': 'Jeffrey Adams', 'email': 'odavis@example.org', 'phone_number1': '996.305.3280x895', 'phone_number2': '(509)376-2910'}, {'Name': 'Annette Choi', 'email': 'matthewbullock@example.net', 'phone_number1': '(967)759-5817', 'phone_number2': '219-581-8812'}, {'Name': 'Alicia Kelley', 'email': 'wrighthannah@example.net', 'phone_number1': '164.394.0515x00934', 'phone_number2': '803-656-9884x5573'}]

In [7]:
# Query to fetch all columns for a specific record where the name is 'Matthew Peters'
query = "SELECT * FROM phone_records WHERE name='Collin Little'"
result = execute_query(query)
print(result)

{'Name': 'Collin Little', 'email': 'glovertheresa@example.com', 'phone_number1': '613.272.2377x762', 'phone_number2': '001-627-509-3536x22421'}

In [8]:
# An INSERT query to add a new record into the 'phone_records' table
query = "INSERT INTO phone_records(Name, email, 'phone_number1', 'phone_number2') VALUES('Tessa Hardin', 'tea@test.xiiz', '55555555', '6666666')"
result = execute_query(query)
print(result)

{'Name': 'Robert Webb', 'email': 'smithstephen@example.net', 'phone_number1': '0121047644', 'phone_number2': '4906661210'}
{'Name': 'Sydney Rivera', 'email': 'rodriguezkevin@example.com', 'phone_number1': '(624)102-3735x0130', 'phone_number2': '001-963-224-2160x254'}
{'Name': 'Collin Little', 'email': 'glovertheresa@example.com', 'phone_number1': '613.272.2377x762', 'phone_number2': '001-627-509-3536x22421'}
{'Name': 'Daniel Curtis', 'email': 'sfitzpatrick@example.org', 'phone_number1': '001-175-677-4149x47910', 'phone_number2': '4320495660'}
{'Name': 'Nancy Bartlett', 'email': 'fherrera@example.net', 'phone_number1': '2787624431', 'phone_number2': '+1-314-006-6617x5602'}
{'Name': 'Jeffrey Bates', 'email': 'joneschristine@example.net', 'phone_number1': '(311)385-3178x790', 'phone_number2': '670-532-9667'}
{'Name': 'Heather Jordan', 'email': 'vazquezchristopher@example.org', 'phone_number1': '6297202797', 'phone_number2': '(099)183-2099'}
{'Name': 'Emily Clark', 'email': 'sandraross@example.net', 'phone_number1': '+1-148-478-6015x89497', 'phone_number2': '371.187.8464x3801'}
{'Name': 'Audrey Wagner', 'email': 'mullinsjeanette@example.org', 'phone_number1': '1367775548', 'phone_number2': '001-768-733-6567x29363'}
{'Name': 'Kevin Page', 'email': 'wyatt92@example.net', 'phone_number1': '001-557-233-8134x31612', 'phone_number2': '(828)874-9903x760'}
{'Name': 'Erika Green', 'email': 'leealyssa@example.net', 'phone_number1': '001-846-031-4476x915', 'phone_number2': '(019)873-8284x61995'}
{'Name': 'Darlene Matthews', 'email': 'kevin30@example.com', 'phone_number1': '(473)396-1919x14906', 'phone_number2': '241.643.3875x06716'}
{'Name': 'Jeffrey Adams', 'email': 'odavis@example.org', 'phone_number1': '996.305.3280x895', 'phone_number2': '(509)376-2910'}
{'Name': 'Annette Choi', 'email': 'matthewbullock@example.net', 'phone_number1': '(967)759-5817', 'phone_number2': '219-581-8812'}
{'Name': 'Alicia Kelley', 'email': 'wrighthannah@example.net', 'phone_number1': '164.394.0515x00934', 'phone_number2': '803-656-9884x5573'}
{'Name': 'Tessa Hardin', 'email': 'tea@test.xiiz', 'phone_number1': '55555555', 'phone_number2': '6666666'}
Insertion successful

In [9]:
# Query to Delete a specific record from the 'phone_records' table
query = "DELETE FROM phone_records WHERE name='Tessa Hardin'"
result = execute_query(query)
print("Result of DELETE query:", result)

Condition for DELETE: name='Tessa Hardin'
{'Name': 'Robert Webb', 'email': 'smithstephen@example.net', 'phone_number1': '0121047644', 'phone_number2': '4906661210'}
{'Name': 'Sydney Rivera', 'email': 'rodriguezkevin@example.com', 'phone_number1': '(624)102-3735x0130', 'phone_number2': '001-963-224-2160x254'}
{'Name': 'Collin Little', 'email': 'glovertheresa@example.com', 'phone_number1': '613.272.2377x762', 'phone_number2': '001-627-509-3536x22421'}
{'Name': 'Daniel Curtis', 'email': 'sfitzpatrick@example.org', 'phone_number1': '001-175-677-4149x47910', 'phone_number2': '4320495660'}
{'Name': 'Nancy Bartlett', 'email': 'fherrera@example.net', 'phone_number1': '2787624431', 'phone_number2': '+1-314-006-6617x5602'}
{'Name': 'Jeffrey Bates', 'email': 'joneschristine@example.net', 'phone_number1': '(311)385-3178x790', 'phone_number2': '670-532-9667'}
{'Name': 'Heather Jordan', 'email': 'vazquezchristopher@example.org', 'phone_number1': '6297202797', 'phone_number2': '(099)183-2099'}
{'Name': 'Emily Clark', 'email': 'sandraross@example.net', 'phone_number1': '+1-148-478-6015x89497', 'phone_number2': '371.187.8464x3801'}
{'Name': 'Audrey Wagner', 'email': 'mullinsjeanette@example.org', 'phone_number1': '1367775548', 'phone_number2': '001-768-733-6567x29363'}
{'Name': 'Kevin Page', 'email': 'wyatt92@example.net', 'phone_number1': '001-557-233-8134x31612', 'phone_number2': '(828)874-9903x760'}
{'Name': 'Erika Green', 'email': 'leealyssa@example.net', 'phone_number1': '001-846-031-4476x915', 'phone_number2': '(019)873-8284x61995'}
{'Name': 'Darlene Matthews', 'email': 'kevin30@example.com', 'phone_number1': '(473)396-1919x14906', 'phone_number2': '241.643.3875x06716'}
{'Name': 'Jeffrey Adams', 'email': 'odavis@example.org', 'phone_number1': '996.305.3280x895', 'phone_number2': '(509)376-2910'}
{'Name': 'Annette Choi', 'email': 'matthewbullock@example.net', 'phone_number1': '(967)759-5817', 'phone_number2': '219-581-8812'}
{'Name': 'Alicia Kelley', 'email': 'wrighthannah@example.net', 'phone_number1': '164.394.0515x00934', 'phone_number2': '803-656-9884x5573'}
Result of DELETE query: Deletion successful